<!DOCTYPE html>
<html lang="en">
<head>
  <title>RANDOM PASSWORD</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Welcome To Password Generator!!!!{{password}}</h1>
  <p>Change Password Every Day</p>
    <form action="{% url 'password' %}">
        {% csrf_token %}
        <select name="lenght">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <br/>
        <input type="checkbox" name="numeric">Numeric
        <br/>
        <input type="checkbox" name="uppercase">Upper Case
        <br/>
        <input type="checkbox" name="specialcase">Special Character
        <br/>
        <input type="submit" value="Generate Password">
    </form>
</div>
</body>
</html>
